#banner1{
	width:100%;

}
body{
	background: #333;
}

strong{
	color: red;
	font-size:150%
	
}

p{
	color:#000000;
	font-family:arial;
	font-size:20;
	text-align:justify;
	text-indent: 50px;
}

h1{
	font-size: 30px;
	font-family: sans-serif;
	text-align: justify;
	color:#000000;
}

h3{
	font-size: 20px;
	font-family: sans-serif;
	text-align: left;

}
#menu{
	width:1000px;
	height:auto;
	background:black;
}

ul{
	font-size:100%;
	list-style-type:none;
	margin: 0;
	padding:0;
	overflow:hidden;	
}

li{
	float:left;
}

li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 73px;
	text-decoration:none;
}

li a:hover {
	background-color:red;
}

img{
	width:300px;
	height:300px;
	transition:6s;

}
img:hover{
	width:400px;
	height:400px;
}

ol{
	font-size:18px;
	font-family: times new roman;
}

button{
	padding:10px 8px;
	width:60px;
	color:white;
	background: #2099;
	border-radius: 1px solid 5px;
	text-align: center;
	user-select: none;
	cursor: pointer;
}
